<!DOCTYPE html>
<head>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to JWT Authentication!!</h1>
    <h2><a href="/user/login">Login</a></h2>
    <h2><a href="/user/Register">Register</a></h2>
</body>
</html>