<!DOCTYPE html>
<head>
    <title>Register page</title>
</head>
<style>
    .container{
        padding-left:40%;
        padding-right:40%;
        padding-top:10%;
    }
</style>
<body>
    <div class="container">
        <h1 >REGISTER</h1><br><br>

    <form method="POST">
        <h4>Name</h4>
        <input type="text" name="name" placeholder="enter your name">
        <h4>Email</h4>
        <input type="text" name="email" placeholder="enter your Email.ID">
        <h4>Password</h4>
        <input type="password" name="password" placeholder="password">
        
        <h4>Confirm Password</h4>
        <input type="password" name="password2" placeholder="confirm password"><br>
        <br>
        <input type="submit"><br>

        <a href="/user/login">Login</a>
         </form>
    </div>
</body>
</html>